.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 3px 5px #c3c2c2;
  height: 6rem;
  padding: 0 1rem 0 1rem;
  z-index: 9999;
  margin-bottom: 0.3rem;
  top: 0;
  position: sticky;
}
.nav .ul {
  height: 100%;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .ul li.leftSection {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav .ul li.leftSection .logo {
  flex-grow: 2;
  display: block;
  width: 7rem;
}
.nav .ul li.leftSection .coursesButton {
  border: none;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav .ul li.leftSection .coursesButton img {
  width: 2rem;
  object-fit: cover;
  object-position: center;
  display: block;
}
.nav .ul li.leftSection .coursesButton p {
  margin: 2px;
}
.nav .ul li.leftSection .coursesButton:hover {
  background-color: #f5f5f5;
  color: #401b9c;
}
.nav .ul li.rightSection {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav .ul li.rightSection .createCourseButton {
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav .ul li.rightSection .createCourseButton img {
  width: 2rem;
  object-fit: cover;
  object-position: center;
  display: block;
}
.nav .ul li.rightSection .createCourseButton p {
  margin: 2px;
}
.nav .ul li.rightSection .createCourseButton:hover {
  background-color: #f5f5f5;
  color: #401b9c;
}
.nav .ul li.rightSection .profileButton {
  display: inline-block;
  width: 5rem;
  height: 41px;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  color: #000;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.nav .ul li.rightSection .profileButton:hover {
  background-color: whitesmoke;
}
.nav .ul li.rightSection .walletButton {
  display: inline-block;
  width: 11rem;
  height: 41px;
  overflow: hidden;
  cursor: pointer;
  background-color: #000;
  border: 1px solid black;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  color: #fff;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.langButton,
.teachOnUdemyButton {
  /* font-size: 0.8rem !important; */
  display: none !important;
}

.menuButton button,
.searchButton button,
.cartButton button {
  display: block;
  text-align: center;
  margin: 0 auto 0 auto;
  background-color: transparent;
  border: none;
}

.nav li {
  display: flex;
  justify-content: center;
  min-width: auto;
  padding: 0.5rem;
}

.nav li button {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.nav button i:hover {
  cursor: pointer;
}

.cartButton i {
  font-size: 1.2rem;
}

@media only screen and (min-width: 800px) {
  .searchButton,
  .menuButton {
    display: none !important;
  }
  .langButton {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .logo {
    flex-grow: initial;
  }
  .cartButton button:hover {
    color: #401b9c;
  }
  .langButton button {
    font-size: 1.5rem;
    padding: 10px;
    background-color: transparent;
  }
}
@media only screen and (min-width: 921px) {
  .cartButton i {
    font-size: 1.5rem;
  }
  .teachOnUdemyButton {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  .teachOnUdemyButton button {
    background-color: transparent;
    border: none;
    /* font-size: 0.8rem !important; */
    min-width: 8rem;
    cursor: pointer;
  }
  .teachOnUdemyButton button:hover {
    color: #401b9c;
  }
}
@media only screen and (min-width: 1081px) {
  .teachOnUdemyButton button:hover {
    color: #401b9c;
  }
}

/*# sourceMappingURL=NavBar.module.css.map */
